.init {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.myform {
    width: 300px;
    background-color: #c0c0c0;
    /* Form background color */
    padding: 20px;
    border: 2px solid #000000;
    /* Form border color */
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    /* Label color */
}

.card{
    flex-basis: 30%;
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    height: 300px;
}