
    <div class="flex-container">
        <div class="item">
            <form action="/create_project" method="post">
                <button type="submit">New Project</button>
            </form>
        </div>
        <div class="item">
            <form action="/existing_project" method="post">
                <button type="submit">Existing Project</button>
            </form>
        </div>
        <div class="item">
            <div class="note">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </div>
    </div>
