<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Industrial CV Software</title>
</head>
<body>
    <center><h1>Industrial CV Software</h1></center>
    <!-- <center><button onclick="location.href='/try'">Click Me</button></center> -->

    <div class="project-options">
        <button onclick="location.href='/new_project'">New Project</button>
        <button onClick="location.href='/existing_project'">Existing Project</button>
    </div>

    <footer>
        <p>
            This application is licensed and have only 3 months of free trial
        </p>
    </footer>
</body>
</html>