<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Industrial CV Software</title>
</head>

<body>
    <center>
        <h1>Industrial CV Software</h1>
    </center>
    <!-- <center><button onclick="location.href='/try'">Click Me</button></center> -->
    {% if result == 0 %}
    <div class="init">
        <form id="myForm" action="/home" method="post">
            <label for="name">Name:</label>
            <input required type="text" id="name" name="name">
            <label for="email">Email:</label>
            <input required type="email" id="email" name="email">
            <label for="company">Company Name:</label>
            <input required type="text" id="company" name="company">
            <label for="designation">Designation:</label>
            <input required type="text" id="designation" name="designation">
            <label for="phone">Phone Number:</label>
            <input required type="tel" id="phone" name="phone">
            <input type="submit" value="Submit" id="submitButton">
        </form>
    </div>

    <div class="loading-screen" id="loadingScreen">
        <p id="loadingMessage">Submitting...</p>
        <div class="loading-dots"></div>
    </div>

    <script src="{{ url_for('static', filename='js/index_init.js') }}"></script>
    {% else %}


    <div class="flex-container">
        <form action="/new_project" class='item' method="get">
            <button type="submit">
                <h1>
                    New Project
                </h1>
                <p class="descriptive">
                    The first Project has a free version of 3 months.
                    <br>
                    The next projects need to pay a subscription based on the no. of months
                </p>
            </button>
        </form>
        <form action="/existing_project" class="item" method="get">
            <button type="submit">
                <h1>
                    Existing Project
                </h1>
                <p class="descriptive">
                    You can view all the licensed projects here.
                </p>
            </button>
        </form>
    </div>

    <footer>
        <p>
            This application is not licensed and have only 3 months of free trial
        </p>
    </footer>
    {% endif %}


</body>

</html>