<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Intial Setup</title>
  <link rel="stylesheet" href="/static/css/initial_setup.css">
</head>
<body>
  <form action="/initial_setup" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <label for="company">Company Name:</label>
    <input type="text" id="company" name="company">
    <label for="designation">Designation:</label>
    <input type="text" id="designation" name="designation">
    <label for="phone">Phone Number:</label>
    <input type="tel" id="phone" name="phone">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
